@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

p {
    line-height: 1.5;
    font-size: 24px;
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

section {
    transition: all 300ms ease;
}

#landing-page {
    min-height: 100vh;
    padding: 0px 20;
}

/* NAVIGATION */

.section__nav {
    background-color: #242424;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    height: 100px;
}

.nav__img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
    font-size: 24px;
    font-weight: 500;
}

.nav__link:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 300ms ease;
}

/* HEADER  */

.section__header {
    background-color: rgb(44, 2, 2)
}
.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.header__container {
    height: auto;
}

.header__title {
    text-align: center;
    font-size: 64px;
    color: white;
    padding-top: 24px;
    margin-bottom: 20px;
    animation: fade-up 650ms 400ms backwards;

}

.header__description {
    font-size: 20px;
    color: white;
    margin-bottom: 16px;
    text-align: center;
    animation: fade-up 650ms 400ms backwards;
}

.search__input {
    display: flex;
    position: relative;
    align-items: center;
    animation: fade-up 1000ms 400ms backwards;

}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.search__results {
    display: flex;
    align-items: center;
}

.search__text {
    width: 320px;
    height: 75px;
    background: #1a1a2a;
    border-radius: 48px;
    margin: 32px auto;
    color: white;
    font-size: 14px;
    padding: 0px 40px 0px 40px;
    border: 1px solid rgb(232, 213, 213);
    box-sizing: border-box;
    z-index: 1002;
}

.search__name {
    color: #f8f8f8;
    opacity: 0.5;
    padding: 48px;
    font-size: 24px;
}

#filter {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

.filter__movies {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter__title {
    color: white;
}

.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 48px;
}

.movies__loading .movies__loading--spinner {
    display: block;
}

.fa-spinner {
    animation: rotate 600ms infinite linear;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    font-size: 60px;
    color: #1a1a2a;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.movie {
    width: 30%;
    padding: 24px;
}
    
/* FOOTER */

footer {
    background-color: #242424;
}

.footer__list {
    margin-bottom: 28px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
}

.footer__logo--img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 24px;
}

.footer__link,
.footer__copyright {
    color: white;
}

.footer__link:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 300ms ease;
}

/* tablets, and large smartphones */
@media (max-width: 1200px) {
   .movies, .movies__loading {
    flex-direction: column-reverse;  
    align-items: center;
    text-align: center;
   }

   .movie, h3, p {
    width: 100%;}
}



